<section class="contact" id="contact">
   <div class="contact__inner">
      <div class="section-header section-header--pink">
         <div class="section-header__number">
            <span>07</span>
         </div>
         <h2 class="section-header__title">contact</h2>
      </div>
      <div class="contact__content">
         <div class="wrapper">
            <div class="contact__text">
               <p>Consectetur adipisicing elit sed eiusmod tempor incididunt ut dolore magna labore eiusmod. Lorem ipsum dolor sit amet consectetur est adipisicing elit, sed do eiusmod tempor.</p>
               <p>
                  <strong>Incididunt ut dolore</strong> 
                  magna labore eiusmod. Dolor sit amet consectetur est adipisicing elit, sed do eiusmod.
               </p>
            </div>
            <form>
               <input type="text" placeholder="Name">
               <input type="email" placeholder="Email">
               <input type="text" placeholder="Subject">
               <textarea placeholder="Message"></textarea>
               <input type="submit" value="SEND">
            </form>            
         </div>
      </div>
      <div class="maps__content">
         <app-google-maps></app-google-maps>
      </div>
   </div>
</section>
