@import 'styles.scss';

.news {
   padding-bottom: $pd-section;
   background-color: $bg-section;
   background-image: url("~src/assets/images/bg_04.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   position: relative;
}



.news__content {
   background-color:  $bg-white;
   font-family: $roboto;
   padding-bottom: 2rem;
}
article {
   @include wrapper;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 2rem 0;
   &:not(:last-child) {
      border-bottom: 2px solid $border;
   }
   strong {
      color: $green;
      font-size: rem(45);
      font-weight: 900;
      margin-right: 3rem;
   }
   
   a {
      margin-top: 2rem;
      font-size: rem(18);
      font-weight: 700;
      color: $dark-blue;
   }
}
.info {
   h4 {
      line-height: rem(26);
      font-weight: 400;
      color: $dark-blue;
      padding-bottom: .3rem;
   }
   span {
      color: $pink;
      text-transform: uppercase;
      font-size: rem(12);
      font-weight: 900;
   }
}

.link__container {
   text-align: center;
   background-color:  $bg-white;
   padding-bottom: 3rem;
   a {
      font-family: $montserrat;
      color: $green;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: rem(5);
      border-bottom: 2px solid;
      text-align: center;
      padding-bottom: rem(5);
   }

}
.extra__content{
   position: relative;
   width: 100%;
   height: rem(533);
   display: flex;
   align-items: center;

}
.extra__text {
   @include wrapper;
   color: white;
   font-family: $roboto;
   p {
      font-size: rem(22);
      line-height: rem(40);
      margin-bottom: rem(90);
   }
   strong {
      text-transform: uppercase;
      letter-spacing: rem(3);
      font-weight: 400;
   }
}

@media screen and (min-width: 1022px) {

   .news {
      padding-bottom: 0;
   }

   .news__inner {
      @include wrapper($width: 100%, $max-width: rem(960));
      display: grid;
      grid-template-columns: repeat(4, rem(240));
      grid-template-rows: rem(240);
      grid-template-areas: 
         " . . . title"
         "content content content ."
         "content content content ."
         "link link link ."
         "extra extra extra .";
   }
   .section-header {
      grid-area: title;
      width: rem(240);
      height: rem(240);
   }
   
   .news__content {
      grid-area: content;
   }
   .link__container {
      grid-area: link;
   }
   .extra__content {
      grid-area: extra;
   }

}
@media screen and (min-width: 1272px) {

   .news__inner {
      @include wrapper($width: 100%, $max-width: rem(1170));
      grid-template-columns: repeat(2, rem(400)) rem(370);
      grid-template-rows: rem(370);
      grid-template-areas: 
         " . . title"
         "content content ."
         "content content ."
         "link link ."
         "extra extra .";
   }
   .section-header {
      width: rem(370);
      height: rem(370);
   }


}