<section class="news" id="news">
   <div class="news__inner">
      <div class="section-header section-header--green">
         <div class="section-header__number">
            <span>04</span>
         </div>
         <h2 class="section-header__title">stories</h2>
      </div>
      <div class="news__content">
         <article>
            <strong>01</strong>
            <div class="info">
            <h4>Robert Williams</h4>
            <span>Branding</span>
            </div>
            <a>Eiusmod tempor incididunt ut dolore magna labore eiusmod ipsum dolor</a>
         </article>
         <article>
            <strong>02</strong>
            <div class="info">
            <h4>Robert Williams</h4>
            <span>Branding</span>
            </div>
            <a>Eiusmod tempor incididunt ut dolore magna labore eiusmod ipsum dolor</a>
         </article>
         <article>
            <strong>03</strong>
            <div class="info">
            <h4>Robert Williams</h4>
            <span>Branding</span>
            </div>
            <a>Eiusmod tempor incididunt ut dolore magna labore eiusmod ipsum dolor</a>
         </article>
         <article>
            <strong>04</strong>
            <div class="info">
            <h4>Robert Williams</h4>
            <span>Branding</span>
            </div>
            <a>Eiusmod tempor incididunt ut dolore magna labore eiusmod ipsum dolor</a>
         </article>
      </div>
      <div class="link__container">
         <a>go to blog</a>
      </div>
      <div class="extra__content">
         <div class="extra__text">
            <p>The difference between a Designer and Developer, when it comes to design skills, is the difference between shooting a bullet and throwing it.</p>
            <strong>scott hanselman</strong>
         </div>
      </div>
   </div>
</section>
