<section class="portfolio" id="portfolio">
   <div class="portfolio__inner">
      <div class="section-header section-header--orange">
         <div class="section-header__number">
            <span>02</span>
         </div>
         <h2 class="section-header__title">portfolio</h2>
      </div>
      <div class="portfolio__content">
         <a class="portfolio__img-container">
            <img src="./assets/images/portfolio_01.jpg" alt="">
         </a>
         <a class="portfolio__img-container">
            <img src="./assets/images/portfolio_02.jpg" alt="">
         </a>
         <a class="portfolio__img-container">
            <img src="./assets/images/portfolio_08.jpg" alt="">
         </a>
         <a class="portfolio__img-container">
            <img src="./assets/images/portfolio_05.jpg" alt="">
         </a>
      </div>
      <div class="portfolio__load-more">

      </div>
   </div>
</section>
