$dark-blue: #23214c;
$bg-section: #221c5a;
$bg-white: #fff;
$green: #32DB8A;
$pink: #ee87a4;
$darkPink: #e64b77;
$contactPink: #e54b76;
$strongPink: #E74C78;
$border: #f4f4f4;
$orange: rgb(255, 186, 66);
$blue: #4C9EE7;
$textFooter: #5b5881;
$bgSections: rgb(34, 28, 90);
$lightGray: #727190;
$gray: #55B286;

