<section class="about" id="about">
   <div class="about__inner">
      <div class="section-header section-header--pink">
         <div class="section-header__number">
            <span>03</span>
         </div>
         <h2 class="section-header__title">crafters</h2>
      </div>
      <div class="about__content">
         <div class="about__text">
            <div class="wrapper">
               <p>Polor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt ut dolore magna labore eiusmod. Lorem ipsum dolor sit amet consectetur est adipisicing elit, sed do eiusmod tempor</p>
               <ul>
                  <li>
                     <strong>2001-2003 · </strong>
                     <em>Art Studio Lorem Donec</em>
                  </li>
                  <li>
                     <strong>2003-2006 · </strong>
                     <em>Per Set Web Site</em>
                  </li>
                  <li>
                     <strong>2006-2010 · </strong>
                     <em>Setera Donec EstNunc</em>
                  </li>
                  <li>
                     <strong>2010-2013 · </strong>
                     <em>Studio Labore Tempor</em>
                  </li>
                  <li>
                     <strong>2013-2016 · </strong>
                     <em>Magna Ipsum Amet</em>
                  </li>
               </ul>
            </div>
         </div>
         <div class="slider">
            <img src="./assets/images/about_04.jpg" alt="">
         </div>
         <div class="member__content">
            <div class="member__info">
               <div class="wrapper">
                  <h4>Jhon Doe</h4>
                  <span>psd guru</span>
                  <p>Eiusmod tempor incididunt ut dolore magna labore eiusmod. Lorem ipsum dolor sit amet consectetur est lorem adipisicing elit, sed do eiusmod tempor polor sit amet consectetur.</p>
               </div>
            </div>
            <div class="member__img">
               <img src="./assets/images/member_01.jpg" alt=""> 
            </div>
            <!-- <span></span> -->
         </div>
      </div>
   </div>
</section>
