<section class="video" id="video">
   <div class="video__inner">
      <div class="section-header section-header--orange">
         <div class="section-header__number">
            <span>05</span>
         </div>
         <h2 class="section-header__title">offer</h2>
      </div>
      <div class="video__content">
         <div class="video__text">
            <p>Polor sit amet consectetur adipisicing elit sed eiusmod tempor incididunt ut dolore magna labore eiusmod. Lorem ipsum dolor sit amet consectetur est adipisicing elit, sed do eiusmod tempor</p>
            <ul>
               <li>
                  <strong>2001-2003 · </strong>
                  <em>Art Studio Lorem Donec</em>
               </li>
               <li>
                  <strong>2003-2006 · </strong>
                  <em>Per Set Web Site</em>
               </li>
               <li>
                  <strong>2006-2010 · </strong>
                  <em>Setera Donec EstNunc</em>
               </li>
               <li>
                  <strong>2010-2013 · </strong>
                  <em>Studio Labore Tempor</em>
               </li>
               <li>
                  <strong>2013-2016 · </strong>
                  <em>Magna Ipsum Amet</em>
               </li>
            </ul>
         </div>
         <a class="video__thumb">
            <img src="./assets/images/video_img.jpg" alt=""> 
         </a>
      </div>
   </div>
</section>
