<section class="skills" id="skills">
  <div class="skills__inner">
      <div class="section-header section-header--green">
         <div class="section-header__number">
            <span>06</span>
         </div>
         <h2 class="section-header__title">expertise</h2>
      </div>
      <div class="skills__content">
         <div class="skills__text">
         <p>Fusce suscipit, orci eget lobortis sodales, velit nunc tristique metus, in tristique odio ante id sem. Etiam
            in quam et sapien bibendum mollis. Morbi eget velit eros, quis imperdiet arcusere perdan. Nunc lorem justo,
            pellentesque ac egestas quis.</p>
         </div>
         <div class="skills__bars">
            <div class="skill">
               <span>html</span>
               <span>81%</span>
            </div>
            <div class="skill">
               <span>javascript</span>
               <span>93%</span>
            </div>
            <div class="skill">
               <span>php</span>
               <span>72%</span>
            </div>
            <div class="skill">
               <span>css</span>
               <span>99%</span>
            </div>
         </div>
      </div>
   </div>
</section>
